<div class="page-block">
    <h3 class="page-block-top">
        <a isLink href="/artists">Виконавці</a>
    </h3>
    <div class="artists-bar">
        <div id="artists-container">
            <% for (let i = 0; i < artists.length; i++) { %>
                <% const artist = artists[i] %>

                <a isLink href="/artist/<%= artist._id %>" class="artist">
                    <div class="img-wrapper">
                        <img src="/api/avatar/<%= artist._id %>">
                    </div>
                    <span class="name"><%= artist.login %></span>
                </a>
            <% } %>
        </div>
    </div>
</div>
<hr>
<div class="page-block">
    <h3 class="page-block-top">
        <a isLink href="/popular">Популярна музика</a>
    </h3>
    <div id="songs-container" class="songs-container">
        <% for (let i = 0; i < music.length; i++) { %>
            <% const song = music[i] %>

            <%- include("./partials/song", { song, user }) %>
        <% } %>
    </div>
    <div class="pages-btns">
        <button></button>
    </div>
</div>


<link rel="stylesheet" href="/css/index.css">
<script>
    window.musicList = `<%- JSON.stringify(music) %>`;
</script>