<div class="page-block">
    <span class="title"><a isLink href="/artist/id" class="song-artist"><%= song.user.login %></a> - <span class="song-name"><%= song.title %></span></span>

    <div class="song-info">
        <span>Дата додавання: <%= new Date(song.createDate).toLocaleDateString('uk-UA') %></span>
        <span>Дата створення: <%= new Date(song.createdAt).toLocaleDateString('uk-UA') %></span>
        <span>Розмір: <%= bytesToMb(song.size) %> Mb</span>
        <span>Тривалість: <%= formatTime(song.duration) %></span>
        <span>Прослуховування: <%= song.auditioning %></span>
    </div>
</div>
<hr>
<div class="page-block">
    <h3 class="page-block-top">Популярна музика автора</h3>
    <div id="songs-container" class="songs-container">
        <% for (let i = 0; i < music.length; i++) { %>
            <% const song = music[i] %>

            <%- include("./partials/song", { song }) %>
        <% } %>
    </div>
</div>
<hr>
<div class="comments">
    <div class="comments-top">Коментарі</div>
    <%- include("./partials/add comment") %>
    <div id="comments-content">
        <% for (let i = 0; i < 20; i++) { %>
            <%- include("./partials/comment") %>
        <% } %>
    </div>
</div>


<link rel="stylesheet" href="/css/mp3.css">
<script>
    window.musicList = '<%- JSON.stringify(music) %>';
</script>